# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: grpc-hello
spec:
  backend:
    serviceName: grpc-hello # Name of the Service targeted by the Ingress
    servicePort: 80 # Should match the port used by the Service
---
apiVersion: v1
kind: Service
metadata:
  name: grpc-hello
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  ports:
  - port: 80
    targetPort: 9000
    protocol: TCP
    name: http
  selector:
    app: grpc-hello
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grpc-hello
spec:
  replicas: 1
  selector:
    matchLabels:
      app: esp-echo
  template:
    metadata:
      labels:
        app: grpc-hello
    spec:
      containers:
      - name: esp
        image: gcr.io/endpoints-release/endpoints-runtime:2
        args: [
          "--listener_port=9000",
          "--backend=grpc://127.0.0.1:50051",
          "--service=SERVICE_NAME",
          "--rollout_strategy=managed",
          "--healthz=/healthz",
        ]
        readinessProbe:
          httpGet:
            path: /healthz
            port: 9000
        ports:
          - containerPort: 9000
      - name: python-grpc-hello
        image: gcr.io/GCLOUD_PROJECT/python-grpc-hello:1.0
        ports:
          - containerPort: 50051
